<div class="p-4 bg-gray-800 text-white rounded-2xl">
  <h1 class="text-2xl">To Do List</h1>

  <ul class="px-4">
    <li 
      class="flex flex-row justify-between my-1 capitalize" 
      *ngFor="let task of tasks"
    >
      <p>{{task.description}}</p>
      <button 
        class="bg-red-400 rounded-2xl py-.5 px-2"
        (click)="removeItem(task)"
      >-</button>
    </li>
  
  </ul>
</div>


<div class="p-4 bg-gray-800 text-white rounded-2xl mt-8">
  <input
    #newItem
    placeholder="Add New Item"
    (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="p-2"
    id="addItemInput" />

  <button class="bg-red-400 rounded-2xl px-4 py-1 ml-4" (click)="addItem(newItem.value)">Add</button>
</div>